{% extends "base_outflow.html"  %}
{% load tags %}
{% block  title %}
EG - Saídas
{%  endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.top-line{
    display:flex;
    gap: 16px;
    }
</style>
<div class="top-line">
<form method="GET" action="{% url 'outflow' %}">
    <input type="text" name="search" placeholder="Buscar Despesa...">
    <button type="submit"; class="btn btn-success btn-sm">Buscar</button>
</form>
    <a href="{% url 'new_outflow' %}" class="btn btn-success btn-sm">Nova Despesa</a>
</div>
<div class="Outflow-list">
  {% if outflows %}
      {% if request.user_agent.is_mobile %}
         <table>
          <tr>
            <th>Despesa</th>
            <th>Valor</th>
            <th>Detalhe</th>
          </tr>
          {% for outflow in outflows %}
          <tr>
            <td>{{outflow.expense}}</td>
            <td>{{outflow.value}}</td>
              <td>
                <div class="update-button"; style="text-align:center">
                  {% if outflow.model_name == "modeloutflow" %}
                    <a href="{% url 'detail_outflow' pk=outflow.pk %}" class="btn btn-success btn-sm">
                      <i class="bi bi-list"></i>
                    </a>
                  {% else %}
                    <a href="{% url 'detail_credit_outflow' pk=outflow.pk %}" class="btn btn-success btn-sm">
                      <i class="bi bi-list"></i>
                    </a>
                  {% endif %}
                </div>
              </td>
          </tr>
           {% endfor %}
         </table>
      {% else  %}
        <table>
          <tr>
            <th>Despesa</th>
            {% if outflows|has_field:"paid" %}
              <th>Pago</th>
            {% endif %}
            <th>Favorecido</th>
            <th>Projeto</th>
            <th>Data</th>
            {% if outflows|has_field:"payment_method" %}
              <th>Método de pagamento</th>
            {% endif %}
            <th>Valor</th>
            {% if outflows|has_field:"closing" %}
              <th>Fechamento</th>
            {% endif %}
            <th>Detalhe</th>
          </tr>
          {% for outflow in outflows %}
          <tr>
            <td>{{outflow.expense}}</td>
            {% if outflow|has_attr:"paid" %}
              <td style="text-align: center; color: {% if outflow.paid %}green{% else %}red{% endif %};">
                  {% if outflow.paid %} ✔ {% else %} ✖ {% endif %}
              </td>
            {% endif %}
            <td>{{outflow.favored|default_if_none:"-"}}</td>
            <td>{{outflow.project|default_if_none:"-"}}</td>
            <td>{{outflow.date}}</td>
            {% if outflow|has_attr:"payment_method" %}
              <td>{{outflow.payment_method}}</td>
            {% endif %}
            <td>R$ {{outflow.value|floatformat:2}}</td>
            {% if outflow|has_attr:"closing" %}
            <td style="text-align: center; color: {% if outflow.closing %}green{% else %}red{% endif %};">
              {% if outflow.closing %} ✔ {% else %} ✖ {% endif %}
            </td>
            {% endif %}
              <td>
                <div class="update-button"; style="text-align:center">
                  {% if outflow.model_name == "modeloutflow" %}
                    <a href="{% url 'detail_outflow' pk=outflow.pk %}" class="btn btn-success btn-sm">
                      <i class="bi bi-list"></i>
                    </a>
                  {% else %}
                    <a href="{% url 'detail_credit_outflow' pk=outflow.pk %}" class="btn btn-success btn-sm">
                      <i class="bi bi-list"></i>
                    </a>
                  {% endif %}
                </div>
              </td>
          </tr>
          {% endfor %}
        </table>
    {% endif %}
  {% endif %}
</div>
{% endblock %}