{% extends "base.html"  %}
{% block  title %}
EG - Entradas
{%  endblock %}
{% block content %}
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

    .top-line{
        display:flex;
        gap: 16px;
        margin-bottom: 20px;
    }
</style>
<div class="top-line">
    <form method="GET" action="{% url 'inflow' %}" class="d-flex align-items-center gap-3 flex-wrap">

    <div class="flex-grow-1">
        <input type="text" name="search" placeholder="Buscar Receita..." class="form-control" value="{{ request.GET.search }}">
    </div>

    <div class="form-floating date-input-wrapper">
        <input type="date" name="start_date" id="start_date" class="form-control"
               oninput="handleDateInput(this)" {% if request.GET.start_date %}value="{{ request.GET.start_date }}"{% endif %}>
        <label for="start_date">À partir</label>
    </div>

    <div class="form-floating date-input-wrapper">
        <input type="date" name="end_date" id="end_date" class="form-control"
               oninput="handleDateInput(this)" {% if request.GET.end_date %}value="{{ request.GET.end_date }}"{% endif %}>
        <label for="end_date">Até</label>
    </div>

    <div class="form-check">
            <input class="form-check-input" type="checkbox" id="only_refund"
                   name="only_refund" value="1"
                   {% if request.GET.only_refund %}checked{% endif %}>
            <label class="form-check-label" for="only_refund">
                Somente reembolso
            </label>
        </div>


    <button type="submit" class="btn btn-success">Buscar</button>
    </form>
    <a href="{% url 'new_inflow' %}" class="btn btn-success link-new">Nova Receita</a>
</div>
<div class="inflow-list">
  {% if inflows %}
      {% if request.user_agent.is_mobile %}
         <table>
         <tbody>
          <tr>
            <th>Receita</th>
            <th>Valor</th>
            <th>Detalhe</th>
          </tr>
          {% for inflow in inflows %}
          <tr>
            <td>{{inflow.income}}</td>
            <td>R$ {{inflow.value|floatformat:2}}</td>
              <td>
                  <div class="update-button"; style="text-align:center">
                      <a href="{% url 'detail_inflow' pk=inflow.pk %}" class="btn btn-success btn-sm">
                        <i class="bi bi-list"></i>
                      </a>
                  </div>
              </td>
          </tr>
           {% endfor %}
         </tbody>
         <tfoot>
              <tr>
                <td class="text-end"><strong>Total:</strong></td>
                <td><strong>R$ {{ total_value|floatformat:2 }}</strong></td>
                <td></td> <!-- Célula vazia para alinhar com a coluna de detalhes -->
              </tr>
            </tfoot>
        </table>
      {% else  %}
        <table>
        <tbody>
          <tr>
            <th>Receita</th>
            <th>Pago</th>
            <th>Cliente</th>
            <th>Projeto</th>
            <th>Data</th>
            <th>Método de pagamento</th>
            <th>Valor</th>
            <th>Reembolso</th>
            <th>Detalhe</th>
          </tr>
          {% for inflow in inflows %}
          <tr>
            <td>{{inflow.income}}</td>
            <td style="text-align: center; color: {% if inflow.paid %}green{% else %}red{% endif %};">
                {% if inflow.paid %} ✔ {% else %} ✖ {% endif %}
            </td>
            <td>{{inflow.project.client|default_if_none:"-"}}</td>
            <td>{{inflow.project|default_if_none:"-"}}</td>
            <td>{{inflow.due_date}}</td>
            <td>{{inflow.payment_method}}</td>
            <td>R$ {{inflow.value|floatformat:2}}</td>
            <td style="text-align: center; color: {% if inflow.refund %}green{% else %}red{% endif %};">
                {% if inflow.refund %} ✔ {% else %} ✖ {% endif %}
            </td>
              <td>
                  <div class="update-button"; style="text-align:center">
                      <a href="{% url 'detail_inflow' pk=inflow.pk %}" class="btn btn-success btn-sm">
                        <i class="bi bi-list"></i>
                      </a>
                  </div>
              </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
        <tr>
              <td colspan="6" class="text-end"><strong>Total:</strong></td>
              <td><strong>R$ {{ total_value|floatformat:2 }}</strong></td>
            </tr>
        </tfoot>
        </table>
    {% endif %}
  {% endif %}
</div>
{% endblock %}